


.Cardmain{
    
    display:flex ;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
      align-items: center;  
      border: 1px solid black;  

}



 .card{
     float: left;   
   border: 1px solid transparent;
   width: 300px;
   margin: 20px;
 }


#card2{
    width:100px;
    height: 100px;
}





 

#head1{
    font-size: small;
}

 .cardinfo{
    background-color: rgb(166, 89, 238);
    color: rgb(238, 231, 231);
       height: 200px;
    padding: 10px;
    margin-top: -10px;
 }
 .cardinfo2{
    background-color: rgb(166, 89, 238);
    width: 180px;
    color: rgb(238, 231, 231);
       height: 200px;
    padding: 10px;
    margin-top: -10px;
 }



 #card1{
 
    width:auto;
    height:200px
}




